# build de linux
/bin/bin/psdraw3
/bin/bin/psdrawE
/bin/bin/pseint
/bin/bin/pseval
/bin/bin/psexport
/bin/bin/psterm
/bin/bin/updatem
/bin/bin/wxPSeInt
/bin/pseint
/bin/wxPSeInt

# build de windows
/bin/log.exe
/bin/pseint.exe
/bin/psdraw3.exe
/bin/psdrawE.exe
/bin/pseval.exe
/bin/psexport.exe
/bin/psterm.exe
/bin/wxPSeInt.exe

# instalador
/dist/*.exe
/dist/pseint
/dist/*.zip

# miscelánea
/temp
/bin/temp
/bin/*.psd
.vscode
